@import "tailwindcss";

body {
    margin: 0;
    font-family: "Sora", sans-serif !important;
}

.bg-main-login {
    background-image: url('./assets/images/BackgroundLogin.webp');
    background-size: cover;
}

.bg-main-login > div {
    background-color: #00000075;
    backdrop-filter: blur(60px);
    box-shadow: 0 0 8px #00000080;
}

.chat-icon-placeholder {
    animation: pulse 2s infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}